@charset "ISO-8859-1";

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #0000ff;
    padding: 20px;
    text-align: center;
}
/* Style the footer */
.footer {
    background-color: #800000;
    padding: 20px;
    text-align: center;
    float:bottom;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #00ffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #db24b7;
    color: black;
}

/* Transition effect */
button {
    width: 80px;
    height: 40px;
    background-color: red;
    -webkit-transition: width 10s, height 20s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 20s;
}

button:hover {
    width: 100px;
    height: 60px;
}


<!-- <style>
#d1{
height: 400pt;
width:  200pt;
padding: 10pt 0pt;
background-color: #00FFEE;
border-style: solid;
border-radius: 20px 20px 20px 20px;
border-color: red;
}
#d2{
height: 400pt;
width:  795pt;
padding: 10pt 0pt;
background-color: #EE00FF;
border-style: solid;
border-radius: 20px 20px 20px 20px;
border-color: red;
}
</style> -->